@font-face {
    font-family: IRANSans;
    src: url('/fonts/IRANSansFaNum.ttf');

}

html, body {
    font-family: IRANSans;
}

@media (min-width: 1195px) {
    .actions-lg { display: block; }
    .actions-sm { display: none; }
}
@media (max-width: 1194px) {
    .actions-lg { display: none; }
    .actions-sm { display: block; }
}

.page-header {
    border-bottom-color: #5d5e63;
}
th {
    background-color: #111111;
    border-bottom: 3px solid #ffcc00;
}

td {
    background-color: #181818;
}
.navbar-top-links>li>a:hover , #side-menu>li>a:hover {
    background-color: #333333;
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-right: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid lightgray;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.messages {
    padding-right:0;
    list-style-type:none;
    text-align:left;
}
.message-item {
    background-color: #f9d6d5;
    transition: background-color 300ms linear;
    padding: 5px 10px;
    direction: ltr;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom:7px;
    position: relative;
}
.message-time {
    position: absolute;
    top: 5px;
    right: 10px;
}

.ccard {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 25px;
    margin-bottom:10px;
    width:200px;
    text-align: center;
    background-color: #f9f9f9;
}

.ccard:hover {
    background-color: #ddd;
}

.bb {
    border-left: 1px solid lightgray;
}

@media (max-width:766px) {
    .bb {
        border-bottom: 1px solid lightgray;
        border-left:none;
    }
}
